{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_register') }}">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" align=center>Register to access the site!</h1>
    </div>
  </div>
<table class="table" style="width: auto" align=center>
  <tr>
    <td>{{ form.name.label }}</td>
    <td>{{ form.name }}</td>
  </tr>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Register" class="btn btn-dark"/>
      </td>
    </tr>
</form>
{% endblock %}