{% extends "layout.html" %}

{% block body %}
<h1></h1>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align=center>These are the tournaments you have bought action from:</h1>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
  <th scope="col">Seller</th>
  <th scope="col">Tournament name</th>
  <th scope="col">buyIn</th>
  <th scope="col">% Bought</th>
  <th scope="col">Money to send</th>
  </thead>
  <tbody>
  {% for tournament in boughtTournaments %}
  <tr>
    <td>{{ tournament[0] }}</td>
    <td>{{ tournament[1] }}</td>
    <td>{{ tournament[2] }}</td>
    <td>{{ tournament[3] }}</td>
    <td>{{ (tournament[2]*(tournament[3]/100)) }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}