{% extends "layout.html" %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align=center>Welcome to Poker Action Marketplace!</h1>
    <p class="lead" align=center>Here you can buy shares for tournaments from other players. You wont see your own though, since you cannot buy your own action. Good luck!</p>
  </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages and not "Please login to use this functionality" in messages[0] %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align=center>Invalid input!</h1>
    {% for message in messages %}
    <p class="lead" align=center>{{ message }}</p>
    {% endfor %}
  </div>
</div>
{% endif %}
  {% endwith %}
<table class="table">
  <thead class="thead-dark">
  <th scope="col">Seller</th>
  <th scope="col">Tournaments</th>
  <th scope="col">Buyin</th>
  <th scope="col">% for sale</th>
  <th scope="col">% still left</th>
  <th scope="col">Buy Action!</th>
  </thead>
  {% for tournament in tournaments %}
  <tr>
    <td>{{ tournament.user }}</td>
    <td>{{ tournament.tournament }}</td>
    <td>{{ tournament.buyin }}</td>
    <td>{{ tournament.pcttobesold }}</td>
    <td>{{ tournament.pctleft }}</td>
    {% if tournament.pctleft == 0 %}
    <td><button class="btn btn-dark">All sold!</button></td>
    {% else %}
    <td><form method="POST", action="{{ url_for('tournaments_buy_percentage', tournament_id = tournament.id) }}">
      <input name="text">
      <input type="submit", value='Buy %' class="btn btn-dark">
    </form></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endblock %}