{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('tournaments_create') }}">

<!-- {% if errors %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Invalid Input!</h1>
    {% for error in errors %}
    <li class="lead">{{ error }}</li>
    {% endfor %}
  </div>
</div>
  {% endif %}
   -->
  <div align=center>
  <table class="table" style="width: auto">
    <tr>
      <td>
        {{ form.tournament.label }}
      </td>
      <td>
        {{ form.tournament }}
      </td>
    </tr>
    <tr>
      <td>{{ form.buyin.label }}</td>
      <td>{{ form.buyin }}</td>
    </tr>
      <tr>
        <td>{{ form.pcttobesold.label }}</td>
        <td>{{ form.pcttobesold }}</td>
      </tr>
  
    <tr>
      <td colspan="2">
        <input type="submit" value="Add a new tournament" class="btn btn-dark" />
      </td>
    </tr>
        </div>
</form>
{% endblock %}