{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('tournaments_create') }}">
  <table>
    <tr>
      <td>
        {{ form.tournament.label }}
      </td>
      <td>
        {{ form.tournament }}
      </td>
    </tr>
    <tr>
      <td>{{ form.buyin.label }}</td>
      <td>{{ form.buyin }}</td>
    </tr>
      <tr>
        <td>{{ form.pcttobesold.label }}</td>
        <td>{{ form.pcttobesold }}</td>
      </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Add a new tournament to the marketplace" />
      </td>
    </tr>
</form>
{% endblock %}