{% extends "layout.html" %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align=center>These are the tournaments you have sold action for:</h1>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
    <th scope="col">Tournament name</th>
    <th scope="col">buyIn</th>
    <th scope="col">% Total for sale</th>
    <th scope="col">% Left for sale</th>
    </thead>
{% for tournament in soldTournaments %}
<tr>
  <td>{{ tournament.tournament }}</td>
  <td>{{ tournament.buyin }}</td>
  <td>{{ tournament.pcttobesold }}</td>
  <td>{{ tournament.pctleft }}</td>
  {% if tournament.buyers %}
  <tr>
    <thead class="thead-dark">
    <th scope="col">Buyer</th>
    <th scope="col">% Bought</th>
    </thead>
  </tr>
  
  {% for buyer in tournament.buyers %}
  <tr>
    <td>{{ buyer[2] }}</td>
    <td>{{ buyer[1] }}</td>
  </tr>
    
    {% endfor %}
    {% endif %}
</tr>
{% endfor %}
</table>



{% endblock %}